<app-create-course></app-create-course>
<br><br>
<app-courses></app-courses>

<div class="container">
    <div class="row">
        <div class="col-6">
            <app-create-task></app-create-task>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <app-backlog-tasks></app-backlog-tasks>
        </div>
        <div class="col-4">
            <app-development-tasks></app-development-tasks>
        </div>
        <div class="col-4">
            <app-done-tasks></app-done-tasks>
        </div>
    </div>

</div>
<hr>
<div class="container">
    <div class="row">
       
        <div class="col-12">
           <app-test-form></app-test-form>
        </div>

    </div>
</div>


<router-outlet></router-outlet>