<div class="container">
    <div class="row">
        <form class="form-horizontal" [formGroup]="formTest" (ngSubmit)="onSubmit()" >
            <div class="form-group">
                <div class="col-12">
                    <label for="userName" class="control-label">UserName</label>             
                </div>
                <div class="col-12">
                    <input type="text" class="form-control" formControlName="userName" [(ngModel)]="example.userName" >
                </div>
                <div class="col-12">
                    <label for="editorContent" class="control-label">Editor</label>             
                </div>
                <div class="col-12">
                    <quill-editor [styles]="editorStyle" formControlName="editorContent" [(ngModel)]="example.editorContent"></quill-editor>
                </div>
                <div class="col-12">
                    <div class="checkbox">
                        <input name="remember" id="remember" type="checkbox" formControlName="ShouldReceiveEmailBroadcast" [(ngModel)]="example.ShouldReceiveEmailBroadcast">
                        <label for="remember" class="checkbox-label standard">
                        Receive Email Broadcasts?
                        </label>
                    </div>
                </div>     
                 
                <div class="col-4">
                        <label>Last Update End Date:</label>
                        <br />
                        <input type="text" matInput [matDatepicker]="endDatePicker" formControlName="lastUpdateEndDate" [(ngModel)]="example.lastUpdateEndDate"
                                class="form-control form-control-datepicker">
                        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                    </div>                         
                 
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Test</button>
            </div>              
        </form>

    </div>
</div>